@model TASKTRACKERSYSTEM.Models.TASK
@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

@*<h2>Task Tracker System </h2>*@
<style type="text/css">
    .ui-datepicker-trigger {
        /* Apply your CSS styles here */
        width: 36px;
        height: 40.53px;
    }

    body {
        font-family: 'Times New Roman';
        font-size: 15pt;
    }

    label.required::after {
        content: " *";
        color: red;
    }

    .form-control {
        border: 2px solid;
        padding: 3px;
    }
</style>
@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message= TempData["message"];
        </div>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="form-horizontal">
    <p>Create Task</p>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })



<p class="form-group">
    @Html.LabelFor(model => model.TASKNAME, "TaskName", htmlAttributes: new { @class = "control-label col-md-2 required" })
    @Html.EditorFor(model => model.TASKNAME)

<p class="col-md-10">
          @*new { htmlAttributes = new { @class = "form-control" } })*@
         @Html.ValidationMessageFor(model => model.TASKNAME, "", new { @class = "text-danger" })

     </p>
    </p>

     <p class="form-group">
         @Html.LabelFor(model => model.ASSIGNEDTO, "AssignedTo", htmlAttributes: new { @class = "control-label col-md-2 required" })
         @Html.DropDownList("ASSIGNEDTO", (List<SelectListItem>)ViewBag.UserList, "Select User")

     <p class="col-md-10">

   
        @Html.ValidationMessageFor(model => model.ASSIGNEDTO, "", new { @class = "text-danger" })

    </p>
    </p>
     <p class="form-group">
         @Html.LabelFor(model => model.DUETO, "DueTo", htmlAttributes: new { @class = "control-label col-md-2 required" })
         @*@Html.TextBox("DUETO", new { @class = "datepicker", @autocomplete = "off", })*@
         @Html.TextBox("DUETO", "", new { @class = "datepicker", @autocomplete = "off" })
         @*@Html.EditorFor(model => model.DUETO, new { @class = "datepicker", @autocomplete = "off" })*@
<p class="col-md-10">

      
        @*@Html.TextBox("DUETO", Model.DUETO.Value.Date.ToString("dd-MM-yyyy"), new { @class = "datepicker", @autocomplete = "off", })*@
        @Html.ValidationMessageFor(model => model.DUETO, "", new { @class = "text-danger" })
    </p>
    </p>

    <p class="form-group">
        @Html.LabelFor(model => model.STATUS, "Status", htmlAttributes: new { @class = "control-label col-md-2 required" })
        @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, "Select Status")
    <p class="col-md-10">


        @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
    </p>
    </p>

    <p class="form-group">
    <p class="col-md-offset-2 col-md-10">
        <button>SUBMIT</button>
        @*<input type="submit" value="Create" class="btn btn-default" />*@
    </p>
    </p>
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(function () {
        $("#DUETO").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: 0,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showOn: 'button',
            buttonImageOnly: true,
            buttonImage: 'https://jqueryui.com/resources/demos/datepicker/images/calendar.gif',
            timepicker: false,


        });
    });
</script>







